* {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.form-tasks {
  width: 300px;
  position: relative;
}

#input-task {
  width: 100%;
}
.div-task p {
  margin: 0;
}

#pined {
  color: chartreuse;
}

#all-tasks {
  color: crimson;
}

.item-task {
  display: flex;
  border: 1px solid;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}

.checked {
  display: flex;
  border: 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 0;
  padding: 5px;
  font-size: 15px;
}

.error {
  display: flex;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: red;
  justify-content: space-between;
  position: absolute;
  width: 70%;
}

.hidden {
  visibility: hidden;
}

.close-error {
  cursor: pointer;
}
